[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[include]
  path = ~/.gitconfig_include
[includeIf "gitdir:~/develop/ardoq/"]
  path = ~/develop/ardoq/.gitconfig
[alias]
  br = branch
  ci = commit
  co = checkout
  df = diff
  st = status -sb
  prune = fetch --prune
  llg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  sup = log --since '1 day ago' --oneline --author EMAIL  # I know what you did yesterday - great for follow-ups
  ls = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short  # pretty one-line log with tags, branches and authors
  lsv = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short --numstat    # a verbose ls, shows changed files too
[help]
  autocorrect = 1
[rebase]
  updateRefs = true
[rerere]
  enabled = true
[branch "master"]
  remote = origin
  merge = refs/heads/master
[color]
  ui = auto
  status = auto
  branch = auto
[color "branch"]
  current = yellow reverse
  local = white
  remote = white

[pager]
   diff = true
   reflog = true
   show = true

[diff]
  external = difft
  tool = difftastic

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[alias]
    # `git dft` is less to type than `git difftool`.
    dft = difftool


# DELTA CONFIG
# [pager]
#    diff = delta
#    reflog = delta
#    show = delta

# [interactive]
#     diffFilter = delta --color-only

# [delta]
#     #features = side-by-side line-numbers decorations
#     features = line-numbers decorations

# [delta "decorations"]
#     commit-decoration-style = bold yellow
#     file-decoration-style= blue
#     hunk-header-decoration-style = none
#     hunk-header-style= omit

[push]
  autoSetupRemote = true
  default = simple
[remote "origin"]
  push = HEAD
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[pull]
	rebase = false
[init]
	defaultBranch = main
